.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Optional: Centers content vertically within the viewport */
}
.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}
section.lead-image a img {
    border: none; /* Remove border from linked image */
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.font-size {
    font-size: 555px ;
}
.font-weight {
    font-weight: 800px;
}
.font-color {
    color: #FF0000;
}
.text-align-center {
    text-align: center;
}
h1 {
    font-family: "Playfair Display", serif;
}
p { 
    font-family: "Roboto", sans-serif;
}
h3{
     font-family: "Anta", sans-serif;
}
nav a {
    font-family: "Anta", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}